.return{
	float: right;

}
.glyphicon-list{
	float: left;
	margin-top: 11px;
	margin-left: 25px;
	margin-right: 5px;
}
.glyphicon-off{
	float: left;
	margin-top: 11px;
	margin-left: 25px;
	margin-right: 5px;
}